:root {
	--font_14:0.875rem;
	--font_16:1rem;
	--font_30:1.875rem;
	--font_36:2.25rem;
	--font_48:3rem;
	--margin_30:1.875rem;
	--margin-54:3.375rem;
	--margin-60:3.75rem;
	--margin-100:6.25rem;
	--margin-120:7.5rem;   
}
html {
	font-family: 'Poppins',
	sans-serif;background-color:#2A2A2A
}
body {
	font-family: 'Poppins',
	sans-serif;overflow-x: hidden;
	background-color:#2A2A2A;
	font-weight:400;font-style: normal;
	color: #FFF;
	font-size: var(--font_14)
}
a,a:hover,a:focus,i,input,button,input:focus,.transition {
	text-decoration: none;outline: none;
	transition-delay: 0s;transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;box-shadow: none;
}
a{
	color: #000
}
iframe {
	border: 0;
	outline: none;
}
::-moz-selection {
	background: var(--red);
	text-shadow: none;
	color:var(--white)
}
::selection {
	background:var(--red);
	text-shadow: none;
	color:var(--white)
}
img {
	max-width: 100%;
	border: none;
	outline: none;
	height: auto;
}
input,textarea {
	border-radius: 0;
	resize: none;
}
ul {
	padding: 0;
	margin: 0;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: transparent;
	background-image: none;
	color:#000;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'DM Serif Display', serif;
}
figure{ margin: 0 }
svg,img { max-width: 100%; height: auto; }

.body {
	font-family: 'Poppins',
	sans-serif;overflow-x: hidden;
	background-color:#2A2A2A;
	font-weight:400;font-style: normal;
	color: #FFF;
	font-size: var(--font_14)}
.loginbody{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.login-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
}
.login-screen {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.btn {
	width: 100%;
	margin-top: 10px;
	color: white;
	background-color: black;
}


.header{ padding-top:2.5rem; padding-bottom: 7.8125rem; position: relative;  }
.banner-button a{ display: inline-block; background-color: #CBFE00; font-weight: 600; font-size: 1.125rem; padding: 0  0.4375rem; color: #000}
.banner-button a:hover,.banner-button a:focus{color: #000}

.banner{ margin-bottom: 8.125rem }
.banner-hed{ font-size: 5.3125rem; line-height:5rem  }
.image-shadow{box-shadow:30px 30px #C7F900;}

.banner figure{width: 370px; position: relative;}
.banner figure figcaption{ color: #FFF; font-size:1.875rem; position: absolute; bottom: 0; width: 100%; text-align: center; padding-bottom:2.5rem  }

.game-section{ background-color: #000; padding: 7.5rem 0 }
.game-section h2{ font-size: 8rem; line-height: 3.375rem; width: 100%;max-width: 80%;margin: 0 }
.game-section p{ color:#9C9C9C; font-size: 1rem; line-height: 1.875rem }
.action-button{ display: inline-block; color: #CBFE00; border: 1px solid #CBFE00; letter-spacing: 3px; text-transform: uppercase; font-size: 0.75rem; padding:0.875rem 1.25rem; margin-top: 30px  }
.action-button i{ font-size:1.125rem; vertical-align: middle;  }
.action-button:hover{ color: #000; background-color:#CBFE00  }

.games-section{background-color: #000; padding: 7.5rem 0 }
.games-section h2{ font-size: 2.5rem; line-height: 3.375rem; width: 100%;max-width:40%;margin: 0}
.games-section h2 span{ display: block; font-family: 'Poppins', sans-serif; text-transform: uppercase; color: #CBFE00; font-weight: 600; letter-spacing: 3px; font-size: 0.75rem; margin-bottom: 0.625rem}

.game-listing-setion{ margin-top:5rem  }
.game-loop figure{ margin-right: 60px; position: relative; }
.game-loop:hover figure img.image-shadow{box-shadow:20px 20px #C7F900;}
.ds-link-button{ position: absolute; right:0.4375rem; top:0.4375rem; width: 2rem; height: 2rem; border-radius: 3px; background-color: #000; display: block; justify-content: center; align-items: center; color: #CBFE00; font-size: 1.125rem; text-align: center; opacity: 0 }
.game-loop:hover .ds-link-button{ opacity: 1 }
.game-loop section{ margin-top: 5.875rem }
.game-loop section h3{font-family: 'Poppins', sans-serif; font-weight: 700; font-size: 1.25rem}
.game-loop section span{ font-size: 1rem; font-weight: 400 }

.footer{ padding: 2.5rem 0; text-align: center; color: #CECECE; font-size: 1.25rem }
.footer a{color: #CECECE }
.footer a:hover{color: #CECECE; text-decoration: underline; }

@media (max-width: 767px) {
	.header {padding-top: 2.5rem;padding-bottom:2.5rem;}
	.banner-hed {font-size: 2.3125rem;line-height: 3rem;}
	.banner .container{ position: relative; padding-bottom: 90px }
	.banner figure{ width: 90%; margin: 0 auto; margin-top: 40px }
	.image-shadow {box-shadow:20px 20px #c7f900;}
	.banner {margin-bottom: 3.5rem;}
	.game-section{ padding: 3.5rem 0 }
	.game-section h2 h2{ max-width: 100% }
	.game-listing-setion {margin-top: 3rem;}
	.game-loop section{margin-top: 2.875rem;}
	.game-loop figure{ margin-right: 20px }
	.game-loop{margin-bottom: 3.5rem;}
	.game-loop:last-child{ margin-bottom: 0 }
}


@media (min-width: 768px) and (max-width: 991px) {
.header{padding-bottom: 3.8125rem;}
.banner-hed{font-size: 3.3125rem;line-height: 4rem;}
.banner figure{ margin-right: 1.875rem }
.games-section h2{ max-width: 60% }
.game-loop figure{ margin-right: 40px }
}

@media (min-width: 992px) and (max-width: 1199px) {
.banner figure{ margin-right: 1.875rem }

}

.price {
  font-size: 1000px;
}