/*
Code from https://pythonspot.com/login-authentication-with-flask/
*/
* {
    box-sizing: border-box;
    }
    
    *:focus {
    outline: none;
    }
    .loginbody {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
    }
    .login {
    margin: 20px auto;
    width: 300px;
    }
    .login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }

    .loginbtn {
      margin-bottom: 2px;
    }
    
    .app-title {
    text-align: center;
    color: #777;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
    
    .btn {
    border: 2px solid transparent;
    background: #FF3B3F;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
    }

    .btnsmall {
      width: 100px;
      }
    
    .btn:hover {
    background-color: #2980B9;
    }
    
    .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
    }
.navbar-main {
    background-color: #3498DB;
    padding-top: 0px;
    padding-bottom: 0px;
    border-color: black;
    border-bottom-style: solid;
    margin-bottom: 5px;
    }
.mainbody {
    font-family: Arial;
    background-color: #3498DB;
    }
.navbartext {
    color: white;
}

.game {
    max-height: 210;
    max-width: 460;
}

.gamecol {
    min-width: 480;
    min-height: 210;
}

.item {
  border: solid;
  padding: 0px;
  margin: 2px;
  width: 32%;
  background-color: #caebf2;
}

.container {
  max-width: 1500px;
}

.img {
  width: 100%;
}


.itemtext {
  padding: 10px;
}


.singleimg {
  width: 600px;
}