<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fots -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Remixicon Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Remixicon Icon -->
    <!-- Bootstrap CSS -->

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>[ZOGS]</title>
    {{ bootstrap.load_js() }}
    {{ bootstrap.load_css() }}
  </head>
<!-- NAVBAR
================================================== -->
  <body class="body">
    {% block body %}
    <!-- header -->
    <header class="ds-header">
      <div class="container" style="display: flex; flex-direction: row;">
        <div class="ds-logo" style="padding-right: 5px">
          <a href="{{ url_for('store') }}">Home</a>
        </div>
          <div class="ds-logo">
            <a href="{{ url_for('login') }}" id="login-btn">Login</a>
          </div>
          <div class="ds-logo" id="logout-btn">
            <a href="">Logout</a>
          </div>
      </div>
      
    </div>
    </header>
    <!-- header -->
    <!-- banner -->
    <section class="ds-banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12  col-md-6  col-lg-7  col-xl-7  col-xxl-7 ds-banner-left">
              <h1 id="gametitle" class="ds-banner-hed">
                {{game['name']}}
              </h1>

          </div>
          <div class="col-12 col-sm-12  col-md-6  col-lg-5  col-xl-5  col-xxl-5">
            <figure>
              <button id="upload" style="opacity: 1;" class="ds-link-button"><i class="ri-upload-2-fill"></i></button>
              <img id="uploadedimage" src="{{game['image']}}">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- banner -->
    <section class="ds-resume-section">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-12  col-md-6  col-lg-6  col-xl-6  col-xxl-6">
                <h2 id="gameprice" class="price">£{{game['price']}}</h2>
              </div>
              <div class="col-12 col-sm-12  col-md-6  col-lg-6  col-xl-6  col-xxl-6">
                <p id="gamedesc">{{game['desc_long']}}</p>
                <a href="#" class="ds-download-button">Purchase Game<i class="ri-download-line"></i></a>
              </div>
          </div>
      </div>
    </section>
    
      

    </div></div>{% endblock %}
  </body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<script>
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
apiKey: "AIzaSyAopZxjnk3TnQMPg9NUouUvC6aIsvtDCyo",
authDomain: "ad-2021-03.firebaseapp.com",
projectId: "ad-2021-03",
storageBucket: "ad-2021-03.appspot.com",
messagingSenderId: "243759511961",
appId: "1:243759511961:web:8e19eab1cbf743c9d27b08",
measurementId: "G-FKJT5126NC"
};

// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();
const auth = firebase.auth();
console.log(firebase);
let originalTitle = document.querySelector('#gametitle').innerText;
let originalDesc = document.querySelector('#gamedesc').innerText;
let originalPrice = document.querySelector('#gameprice').innerText;
document.querySelector('#gametitle').contentEditable = true;
document.querySelector('#gamedesc').contentEditable = true;
document.querySelector('#gameprice').contentEditable = true;
const logoutBtn = document.querySelector('#logout-btn');
logoutBtn.addEventListener('click', e => {
e.preventDefault();
auth.signOut();
console.log('User signed out!');
})

auth.onAuthStateChanged(user => {
  if (user) {
    console.log(user.email + " is logged in!");
    document.querySelector('#logout-btn').hidden = false;
    document.querySelector('#login-btn').hidden = true;
    user.getIdToken().then(function (token) {
            // Add the token to the browser's cookies. The server will then be
            // able to verify the token against the API.
            document.cookie = "token=" + token + "; path=/";
        });
  } else {
    console.log('User is logged out!');
    document.querySelector('#logout-btn').hidden = true;
    document.querySelector('#login-btn').hidden = false;
    document.cookie = "token=" + "; path=/";
    console.log(document.cookie);
  }
});


const CLOUD_NAME = "dhujezr6s";
const UPLOAD_PRESET = "p0rdbkxh";

const myWidget = cloudinary.createUploadWidget(
  {
    cloudName: CLOUD_NAME,
    uploadPreset: UPLOAD_PRESET,
    multiple: false,  //restrict upload to a single file
    clientAllowedFormats: ["images"], //restrict uploading to image files only
  },
  (error, result) => {
    if (!error && result && result.event === "success") {
      console.log("Done! Here is the image info: ", result.info);
      document
        .getElementById("uploadedimage")
        .setAttribute("src", result.info.secure_url);

      send_post_request("image", result.info.secure_url);
    }
  }
);

document.getElementById("upload").addEventListener(
  "click",
  function () {
    myWidget.open();
  },
  false
);

document.getElementById("gametitle").addEventListener('blur', (event) => {
  if( event.srcElement.innerText != originalTitle){
    send_post_request("name", event.srcElement.innerText);
  }
});
document.getElementById("gameprice").addEventListener('blur', (event) => {
  if( event.srcElement.innerText != originalPrice){
    send_post_request("price", event.srcElement.innerText);
  }
});
document.getElementById("gamedesc").addEventListener('blur', (event) => {
  if( event.srcElement.innerText != originalDesc){
    send_post_request("desc_long", event.srcElement.innerText);
  }
});

function send_post_request(new_key, new_value) {
  let xhr = new XMLHttpRequest();
      let id = window.location.href.split("/")[4];
      console.log(id);
      const url = `${window.location.href}/update/`;
      xhr.open("POST", url );
      xhr.setRequestHeader("Accept", "application/json");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            alert(xhr.responseText);
        }};
      xhr.send(`
        {"filter_key": "id_",
        "filter_value": ${id}, 
        "new_key": "${new_key}", 
        "new_value": "${new_value}"}`
      );
}
</script>
</html>
