<html>
    <head>
        {{ bootstrap.load_js() }}
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <title>Zak's Online Gaming Store [ZOGS]</title>
    </head>
    <body class="mainbody">{% block body %}
      <nav class="navbar navbar-main">
        <div class="container-fluid">
          <div class="d-flex">
            <a class="navbar-brand navbartext" href="#">♚</a>
            <div class="d-flex flex-row">
              <a class="nav-link active navbartext" aria-current="page" href="#">Home</a>
              <a class="nav-link navbartext" href="#">Logout</a>
            </div>
          </div>


            <div class="">
            <input class="" type="search" placeholder="Search" aria-label="Search">
            <button type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </div>
        </div>
      </nav>
      <div class="container-fluid text-center">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for item in items %}
            <div class="col">
              <div class="p-3 border bg-light">
                <img class="game" src='{{item["Image"]}}' alt='{{item["Image"]}}''>
                <p>{{item["Name"]}}</p>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
        {% endblock %}
    </body>
</html>