<!doctype html>
<html lang="en">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Remixicon Icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    
    <!-- Firebase CSS -->
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>[ZOGS]</title>

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_js() }}
    {{ bootstrap.load_css() }}
  </head>
  <body class="body">
    
    <!-- header -->
    <header class="ds-header">
      <div class="container" style="display: flex; flex-direction: row;">
        <div class="ds-logo" style="padding-right: 5px;">
          <a href="{{ url_for('signup') }}" id="signup-btn">Sign Up</a>
        </div>
          <div class="ds-logo" id="login-btn">
            <a href="{{ url_for('login') }}">Login</a>
          </div>
          <div class="ds-logo" id="logout-btn">
          <a href="">Logout</a>
        </div>
      </div>
    </header>
    <!-- Banner Section -->
    <section class="ds-banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12  col-md-6  col-lg-7  col-xl-7  col-xxl-7 ds-banner-left">
              <h1 class="ds-banner-hed">
                Zak's Online Gaming Store [ZOGS]
              </h1>

          </div>
          <div class="col-12 col-sm-12  col-md-6  col-lg-5  col-xl-5  col-xxl-5">
            <figure>
              <img src="{{ url_for('static',filename='banner-image.png') }}">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- Games Section -->
    <section class="ds-projects-section">
      <div class="container">
          <h2><span>Games</span> </h2>
          <div class="row ds-projects-listing-section">
            {% for item in items %}
            <div style="padding-bottom: 20px"class="col-12 col-sm-12  col-md-4  col-lg-4  col-xl-4  col-xxl-4 ds-projects-loop">
                <figure>
                  <a href="{{item['id_']}}" class="ds-link-button"><i class="ri-external-link-line"></i></a>
                  <img src="{{item['image']}}"" class="ds-image-shadow transition">
                </figure>
                <section>
                  <h3>{{item['name']}}</h3>
                  <span>{{item["desc_brief"]}}</span>
                </section>
            </div>
            {% endfor %}
          </div>
      </div>
    </section>
    <!-- Admin Section -->
    <section hidden id="admin" class="ds-resume-section">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-12  col-md-6  col-lg-6  col-xl-6  col-xxl-6">
                <h2>Admin:</h2>
                <a id="add-game" class="ds-download-button">Add Game<i class="ri-add-circle-line"></i></a>
              </div>
              <div class="col-12 col-sm-12  col-md-6  col-lg-6  col-xl-6  col-xxl-6">
                <p id="logininfo"></p>
                
              </div>
              
          </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="ds-footer">
      <div class="container">
        <a href="mailto:contact@zogs.com">contact@zogs.com</a>
        <br />
        <a href="tel:+447421469419">+44 7421469419</a>
        <br /> <br />
        <span class="ds-copyright">© 2022 All right reserved.</span>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>#
    <script src="{{ url_for('static', filename='main_store_page_script.js') }}"></script> 
  </body>
</html>