<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fots -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Remixicon Icon -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Remixicon Icon -->
    <!-- Bootstrap CSS -->
    <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>[ZOGS]</title>
    {{ bootstrap.load_js() }}
    {{ bootstrap.load_css() }}
  </head>
  <body class="body">
    
    <!-- header -->
    <header class="ds-header">
      <div class="container" style="display: flex; flex-direction: row;">
          <div class="ds-logo" id="login-btn">
            <a href="{{ url_for('login') }}">Login</a>
          </div>
          <div class="ds-logo" id="logout-btn">
          <a href="">Logout</a>
        </div>
      </div>
    </header>
    <!-- header -->
    <!-- banner -->
    <section class="ds-banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12  col-md-6  col-lg-7  col-xl-7  col-xxl-7 ds-banner-left">
              <h1 class="ds-banner-hed">
                Zak's Online Gaming Store [ZOGS]
              </h1>

          </div>
          <div class="col-12 col-sm-12  col-md-6  col-lg-5  col-xl-5  col-xxl-5">
            <figure>
              <img src="{{ url_for('static',filename='banner-image.png') }}">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- banner -->
    <!-- resume -->
    <!-- projects -->
    <section class="ds-projects-section">
      <div class="container">
          <h2><span>Games</span> </h2>
          <div class="row ds-projects-listing-section">
            {% for item in items %}
            <div style="padding-bottom: 20px"class="col-12 col-sm-12  col-md-4  col-lg-4  col-xl-4  col-xxl-4 ds-projects-loop">
                <figure>
                  <a href="{{item['id_']}}" class="ds-link-button"><i class="ri-external-link-line"></i></a>
                  <img src="{{item['image']}}"" class="ds-image-shadow transition">
                </figure>
                <section>
                  <h3>{{item['name']}}</h3>
                  <span>{{item["desc_brief"]}}</span>
                </section>
            </div>
            {% endfor %}
          </div>
      </div>
    </section>
    <section hidden id="admin" class="ds-resume-section">
      <div class="container">
          <div class="row">
              <div class="col-12 col-sm-12  col-md-6  col-lg-6  col-xl-6  col-xxl-6">
                <h2>Logins:</h2>
              </div>
              <div class="col-12 col-sm-12  col-md-6  col-lg-6  col-xl-6  col-xxl-6">
                <p id="logininfo"></p>
              </div>
          </div>
      </div>
    </section>
    <!-- projects
    
    <section class="ds-email-section">
       <div class="container">
          <h2>I'm available for work</h2>
          <a href="mailto:contact@borstein.com">contact@borstein.com</a>
       </div>
    </section>
    <!-- footer -->
    <footer class="ds-footer">
      <div class="container">
        <span class="ds-copyright">© 2022 All right reserved.</span>
      </div>
    </footer>
    <!-- footer -->
    <!-- Optional JavaScript; choose one of the two! -->
    <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-analytics.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </body>
  <script>

    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
    apiKey: "AIzaSyAopZxjnk3TnQMPg9NUouUvC6aIsvtDCyo",
    authDomain: "ad-2021-03.firebaseapp.com",
    projectId: "ad-2021-03",
    storageBucket: "ad-2021-03.appspot.com",
    messagingSenderId: "243759511961",
    appId: "1:243759511961:web:8e19eab1cbf743c9d27b08",
    measurementId: "G-FKJT5126NC"
    };


    // Initialize Firebase
   // Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();
const auth = firebase.auth();
console.log(firebase);

    const logoutBtn = document.querySelector('#logout-btn');
logoutBtn.addEventListener('click', e => {
e.preventDefault();
auth.signOut();
console.log('User signed out!');
})

auth.onAuthStateChanged(user => {
if (user) {
console.log(user.email + " is logged in!");
document.querySelector('#logout-btn').hidden = false;
document.querySelector('#login-btn').hidden = true;
user.getIdToken().then(function (token) {
        // Add the token to the browser's cookies. The server will then be
        // able to verify the token against the API.
        document.cookie = "token=" + token + "; path=/";
        let xhr = new XMLHttpRequest();
        let url = window.location.href.split("store")[0];
        xhr.open("GET", `${url}/admin` );
        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");
        
        xhr.onreadystatechange = function () {
          if (xhr.readyState === 4) {
            resp = JSON.parse(xhr.responseText);
              if(resp["administrator"] === 1){
                render_logins();
              }
          }};
          xhr.send();
    });


} else {
console.log('User is logged out!');
document.querySelector('#logout-btn').hidden = true;
document.querySelector('#login-btn').hidden = false;
document.querySelector('#admin').hidden = true;
document.cookie = "token=" + "; path=/";
console.log(document.cookie);
}

function render_logins(){
  let xhr = new XMLHttpRequest();
  let url = window.location.href.split("store")[0];
  console.log(url);
  xhr.open("GET", `${url}/times/10` );
  xhr.setRequestHeader("Accept", "application/json");
  xhr.setRequestHeader("Content-Type", "application/json");
  
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      resp = JSON.parse(xhr.responseText);
      str = "";
      console.log(resp.length);
      for(let i=0; i< Object.keys(resp).length; i++){
        str += `${resp[i].timestamp}: ${resp[i].email}\n`
      }
      document.querySelector('#logininfo').innerText = str;
        
    }};
  xhr.send();
}                  
}

});
  </script>
</html>